body{
background-color: deepskyblue;
text-decoration-color: red;
}



.homepagetitle{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-radius: 10px;
}
a{
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-width: 2px;
    border-radius: 3px;
}

.homepagetext{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-width: 3px;
    border-radius: 3px;
}
.images{
    display: flex;
    justify-content: center;
    
}
img{
     width: 187px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}
.godzillacharacters{
    height: 50px;
    width: 50px;

}