body{
background-color: deepskyblue;
text-decoration-color: red;
}
.homepagetitle{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-radius: 10px;
}
a{
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-width: 2px;
    border-radius: 3px;
}
.homepagetext{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: blue;
    border-width: 3px;
    border-radius: 10px;
}
.images{
    display: flex;
    justify-content: center;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 img{
    width: 187px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}    
.links1{
    display: flex;
    justify-content: center;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

.beyblade_background{
    background-color: white;
}

.beyblade_characters{
    width: 100px;
    display: flex;
    flex-direction: column;

}

.sonic_background{
    background-color: white;
}

.sonic_characters{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.godzilla_background{
    background-color: white;
}

.godzilla_characters{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.godzillla_character_info{
    float: right;
}

.ninjago_background{
    background-color: white;
}

.ninjago_characters{
    width: 100px;
    display: flex;
    flex-direction: column;
}
